<% layout("layouts/boilerplate") %> 
<div>
    <h4>Error:<%= err.message %> </h4>
    <p><%= err.stack %> </p>
    <button type="button" onclick="goBack()">Go Back</button>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>