<% layout("layouts/boilerplate") %>
<div class="make-admin"><a href="/register">Add a user</a></div>
<div class="edit-product"><a href="/products">Edit a product</a></div>
<div class="add-new-product"><a href="/products/new">Add a product</a></div>